DEBUG=true

SECRET_KEY='django-insecure-2kkmxbid^6w20^-5c#g+*@b%sl@0e1j85%@)yh(&t_z@hkqxvu'

CSRF_TRUSTED_ORIGIN=http://localhost

LL_TOKEN=ae715685a458b03b5e1118bc99ee2d5920187fff
LL_URL=https://ll.thespacedevs.com/2.2.0

DB_HOST=database
DB_NAME=snapy
DB_USER=snapy-sa
DB_PASSWORD=Welkom123
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}

USE_S3_STATICFILES=False
AWS_ACCESS_KEY_ID=DO00P9FFXXY8WWA98YDN
AWS_SECRET_ACCESS_KEY=JeRC1BBg2fZKVhcJO6LZs54fxEqMmrxGuBR09UjpfhA
AWS_STORAGE_BUCKET_NAME=snapi-dev

UV_INDEX_TSD_USERNAME=public
UV_INDEX_TSD_PASSWORD=public

REDIS_URL=redis://localhost:6379

ENABLE_THROTTLE=True
ENABLE_CACHE=True