SNAPI_VERSION=v1.2.3
DEBUG=1
SECRET_KEY='django-insecure-2kkmxbid^6w20^-5c#g+*@b%sl@0e1j85%@)yh(&t_z@hkqxvu'
DB_NAME=dummydb
DB_USER=dummyuser
DB_HOST=dummyhost
DB_PASSWORD=dummypassword
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}
LL_URL=https://ll.thespacedevs.com/2.2.0
LL_TOKEN=dummytoken
CELERY_BROKER_URL=rabbitmq
CSRF_TRUSTED_ORIGIN=http://127.0.0.1

USE_MINIO=False
MINIO_ACCESS_KEY=dummykey
MINIO_SECRET_KEY=dummysecret
MINIO_BUCKET_NAME=dummybucket
MINIO_ENDPOINT=dummyendpoint

# Sentry
SENTRY_DSN=dummydsn

# AMQP settings for the import queue
AMQP_HOST=localhost
AMQP_PORT=5672
AMQP_USERNAME=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/
AMQP_QUEUE=snapiv4
AMQP_EXCHANGE=importer
