---
version: "3.8"

volumes:
  database:

networks:
  snapy:
  nginx-proxy-manager_default:
    external: true
  mq:
    external: true

services:
  database:
    image: postgres:15-alpine
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - snapy
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  app:
    image: ghcr.io/spaceflightnewsapi/spaceflightnewsapi:${VERSION}
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - |
        python manage.py collectstatic --no-input &&
        python manage.py migrate --no-input &&
        python manage.py createdefaulttasks &&
        gunicorn snapy.wsgi:application --workers 13 --bind 0.0.0.0:8000 --access-logfile - --disable-redirect-access-to-syslog
    networks:
      - snapy
      - nginx-proxy-manager_default
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DATABASE_URL=${DATABASE_URL}
      - CSRF_TRUSTED_ORIGIN=${CSRF_TRUSTED_ORIGIN}
      - LL_URL=${LL_URL}
      - LL_TOKEN=${LL_TOKEN}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - SENTRY_DSN=${SENTRY_DSN}
      - USE_MINIO=${USE_MINIO}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
    depends_on:
      database:
        condition: service_healthy

  beat:
    image: ghcr.io/spaceflightnewsapi/spaceflightnewsapi:${VERSION}
    restart: unless-stopped
    command: celery -A snapy beat -l INFO
    networks:
      - mq
      - snapy
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CSRF_TRUSTED_ORIGIN=${CSRF_TRUSTED_ORIGIN}
      - SENTRY_DSN=${SENTRY_DSN}
    depends_on:
      database:
        condition: service_healthy


  worker:
    image: ghcr.io/spaceflightnewsapi/spaceflightnewsapi:${VERSION}
    restart: unless-stopped
    command: celery -A snapy worker -l INFO
    networks:
      - mq
      - snapy
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - LL_URL=${LL_URL}
      - LL_TOKEN=${LL_TOKEN}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CSRF_TRUSTED_ORIGIN=${CSRF_TRUSTED_ORIGIN}
      - SENTRY_DSN=${SENTRY_DSN}
    depends_on:
      database:
        condition: service_healthy
