[tool.poetry]
name = "snapy"
version = "4"
description = ""
authors = ["Derk Weijers <derk@weijers.xyz>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
django = "~4.2"
djangorestframework = "^3.14.0"
markdown = "^3.5"
django-filter = "^23.1"
pyyaml = "^6.0"
uritemplate = "^4.1.1"
celery = "^5.3.4"
httpx = "^0.25.0"
django-celery-beat = "^2.4.0"
django-cors-headers = "^4.3.0"
drf-spectacular = "^0.26.1"
django-celery-results = "^2.4.0"
gunicorn = "^21.2.0"
sentry-sdk = "^1.32.0"
dj-database-url = "^2.0.0"
django-minio-backend = "^3.5.0"
psycopg2-binary = "^2.9.9"


[tool.poetry.group.dev.dependencies]
django-stubs = { extras = ["compatible-mypy"], version = "^4.2.6" }
black = "^23.10.0"
isort = "^5.11.4"
djangorestframework-stubs = "^3.14.4"
celery-stubs = "^0.1.3"
django-filter-stubs = "^0.1.2"
coverage = "^7.2.5"
mypy = "^1.3.0"
bandit = { extras = ["toml"], version = "^1.7.5" }
pytest-django = "^4.5.2"
pytest-env = "^1.0.1"
pytest = "^7.4.2"
pytest-cov = "^4.1.0"
pyupgrade = "^3.15.0"
django-stubs-ext = "^4.2.2"
ruff = "^0.0.292"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
strict = true
plugins = ["mypy_django_plugin.main", "mypy_drf_plugin.main"]

[tool.django-stubs]
django_settings_module = "snapy.settings"

[tool.isort]
profile = "black"

[tool.black]
target-version = ["py312"]

[tool.ruff]
extend-exclude = ["snapy/settings.py"]

[tool.bandit]
exclude_dirs = ["tests/", ".github/", ".venv/"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "snapy.settings"
env = [
    "SECRET_KEY=dummy-secret-key",
    "DATABASE_URL=sqlite://:memory:",
    "SNAPI_VERSION=v1.2.3"
]
